# Năm bắt đầu và năm kết thúc
START_YEAR=1990
END_YEAR=2018

# Cửa sổ trượt (3 năm train - 1 năm test)
WINDOW_SIZE=3

# Thư mục lưu trữ dữ liệu
DATA_FOLDER='dataset'

# Thiết lập SEED để đảm bảo bảo toàn kết quả
SEED=727